lib/tinyobjloader/models
lib/tinyobjloader/tests

#imgui.ini

bin
bin/*.dSYM
bin/macos
bin/macosDebug
bin/linux
bin/linuxDebug
bin/windows
bin/windowsDebug
build
data/vxgi*

*.log
*.sublime-*
~*
*~
*.out
*.~*
*.out.*

*.a
*.o

.project
.cproject
.settings/
language.settings.xml
bin.pro.user

*.DS_Store
*.sublime-project
*.sublime-workspace
*.xcodeproj

*.d
*.slo
*.lo
*.o
#*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
Release/
